/* .button{
  color: #a083bb;
  opacity: 0.75;
} */
.test{
  background-color: #33343a;
}

.button {
  border-radius: 50%; /* 丸みを持たせる */
  padding: 10px 20px; /* パディングを調整 */
  border: none; /* デフォルトのボーダーを削除 */
  /* その他のスタイル */
}