version: "3.9"
services:
  web:
    container_name: tippers-front
    build: 
      context: .
    ports:
      - "3000:3000"
    volumes:
      - ./src:/app
      - node_modules:/app/node_modules
    tty: true
    command: sh -c "npm run dev"
volumes:
  node_modules: