.card {
    width: 40%;
    height: 25vh;
    background-color: #525358;
    border-radius: 30px;
    box-shadow: 0 0 10px #33343a;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    text-align: center;
    margin-top: 3vh;
  }
  
  .card h2 {
    font-size: 1.1rem;
    font-weight: 500;
    color: white;
    margin: 3px;
  }


  
  .card h3 {
    font-size: 0.7rem;
    font-weight: 600;
    color: white;
    margin: 0px;
  }
  
  .card p {
    font-size: 0.5rem;
    font-weight: 600;
    color: white;
    margin: 1px;
  }
  
  .card .image {
    margin-bottom: 5px;
}

@media screen and (min-width: 600px) {
    .card {
        width: 20%;
        
    }
}