.container {
    height: 30vh;
    width: 95vw;
    margin: 10px;
    border-radius: 20px;
    margin: 3vh auto 0 auto;
}

.header {
    width: 100%;
    height: 30%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #33343a;
}

.header h1 {
    color: #fff;
    font-size: 2.5rem;
}

.header div {
    margin: 2rem 0;
}

.menu_bar{
    float: right;
    margin-left: 0.5rem;
}


.notification {
    float: left;
    margin-right: 0.5rem;
}

.dashboard {
    margin-top: 3vh;
    width: 100%;
    height: 70%;
    color: white;
    text-align: center;
    border: none;
    height: 70%;
    background-color: #616367;
    border-radius: 20px;
}   

.dashboard h2,
.dashboard h3 {
    margin: 1.5vh;
    padding: 1px;
}

.dashboard h2 {
    font-size: 3rem;
    font-weight: 500px;
}

.dashboard h3 {
    padding-top: 2vh;
    font-size: 1.3rem;
    font-weight: 300px;
}



@media screen and (min-width: 768px) {
    .dashboard h2,
    .dashboard h3 {
        margin: 0;
        padding: 3px;
        font-size: 4rem;
    }

    .container {
        height: 40vh;
    }
}