.container {
    height: 18vh;
    width: 95vw;
    border-radius: 20px;
    margin: 0 auto;
}


.dashboard {
    /* margin-top: 3vh; */
    width: 100%;
    height: 100%;
    color: white;
    text-align: center;
    border: none;
    background-color: #616367;
    border-radius: 20px;
}   

.dashboard h2,
.dashboard h3 {
    margin: 1vh;
    padding: 1px;
}

.dashboard h2 {
    font-size: 3rem;
    font-weight: 500px;
}

.dashboard h3 {
    padding-top: 2vh;
    font-size: 1.3rem;
    font-weight: 300px;
}



@media screen and (min-width: 768px) {
    .dashboard h2,
    .dashboard h3 {
        margin: 0;
        padding: 3px;
        font-size: 4rem;
    }

    .container {
        height: 40vh;
    }
}